/*
 * ytelapi_lib
 *
 * This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io )
 */

package phonenumber_pkg


import(
	"fmt"
	"ytelapi_lib/models_pkg"
	"github.com/apimatic/unirest-go"
	"ytelapi_lib/apihelper_pkg"
	"ytelapi_lib/configuration_pkg"
)

/*
 * Input structure for the method CreateIncomingphoneBulkbuy
 */
type CreateIncomingphoneBulkbuyInput struct {
    NumberType      models_pkg.Numbertype16Enum //The capability the number supports.
    AreaCode        string          //Specifies the area code for the returned list of available numbers. Only available for North American numbers.
    Quantity        string          //A positive integer that tells how many number you want to buy at a time.
    Leftover        *string         //If desired quantity is unavailable purchase what is available .
}

/*
 * Input structure for the method CreateIncomingphoneListnumber
 */
type CreateIncomingphoneListnumberInput struct {
    Page            *int64          //Which page of the overall response will be returned. Page indexing starts at 1.
    PageSize        *int64          //The page count to retrieve from the total results in the collection. Page indexing starts at 1.
    NumberType      models_pkg.Numbertype16Enum //The capability supported by the number.Number type either SMS,Voice or all
    FriendlyName    *string         //A human-readable label added to the number object.
}

/*
 * Input structure for the method CreateIncomingphoneReleasenumberByResponseTypePost
 */
type CreateIncomingphoneReleasenumberByResponseTypePostInput struct {
    PhoneNumber     string          //A valid 10-digit Ytel number (E.164 format).
    ResponseType    string          //Response type format xml or json
}

/*
 * Input structure for the method CreateIncomingphoneTransferphonenumbers
 */
type CreateIncomingphoneTransferphonenumbersInput struct {
    Phonenumber     string          //A valid 10-digit Ytel number (E.164 format).
    Fromaccountsid  string          //A specific Accountsid from where Number is getting transfer.
    Toaccountsid    string          //A specific Accountsid to which Number is getting transfer.
}

/*
 * Input structure for the method CreateIncomingphoneMassupdatenumber
 */
type CreateIncomingphoneMassupdatenumberInput struct {
    PhoneNumber          string          //A valid comma(,) separated Ytel numbers. (E.164 format).
    VoiceUrl             string          //The URL returning InboundXML incoming calls should execute when connected.
    FriendlyName         *string         //A human-readable value for labeling the number.
    VoiceMethod          *string         //Specifies the HTTP method used to request the VoiceUrl once incoming call connects.
    VoiceFallbackUrl     *string         //URL used if any errors occur during execution of InboundXML on a call or at initial request of the voice url
    VoiceFallbackMethod  *string         //Specifies the HTTP method used to request the VoiceFallbackUrl once incoming call connects.
    HangupCallback       *string         //URL that can be requested to receive notification when and how incoming call has ended.
    HangupCallbackMethod *string         //The HTTP method Ytel will use when requesting the HangupCallback URL.
    HeartbeatUrl         *string         //URL that can be used to monitor the phone number.
    HeartbeatMethod      *string         //The HTTP method Ytel will use when requesting the HeartbeatUrl.
    SmsUrl               *string         //URL requested when an SMS is received.
    SmsMethod            *string         //The HTTP method Ytel will use when requesting the SmsUrl.
    SmsFallbackUrl       *string         //URL used if any errors occur during execution of InboundXML from an SMS or at initial request of the SmsUrl.
    SmsFallbackMethod    *string         //The HTTP method Ytel will use when URL requested if the SmsUrl is not available.
}

/*
 * Input structure for the method CreateIncomingphoneUpdatenumber
 */
type CreateIncomingphoneUpdatenumberInput struct {
    PhoneNumber          string          //A valid Ytel number (E.164 format).
    VoiceUrl             string          //URL requested once the call connects
    FriendlyName         *string         //Phone number friendly name description
    VoiceMethod          *string         //Post or Get
    VoiceFallbackUrl     *string         //URL requested if the voice URL is not available
    VoiceFallbackMethod  *string         //Post or Get
    HangupCallback       *string         //callback url after a hangup occurs
    HangupCallbackMethod *string         //Post or Get
    HeartbeatUrl         *string         //URL requested once the call connects
    HeartbeatMethod      *string         //URL that can be requested every 60 seconds during the call to notify of elapsed time
    SmsUrl               *string         //URL requested when an SMS is received
    SmsMethod            *string         //Post or Get
    SmsFallbackUrl       *string         //URL used if any errors occur during execution of InboundXML from an SMS or at initial request of the SmsUrl.
    SmsFallbackMethod    *string         //The HTTP method Ytel will use when URL requested if the SmsUrl is not available.
}

/*
 * Input structure for the method CreateIncomingphoneAvailablenumber
 */
type CreateIncomingphoneAvailablenumberInput struct {
    Numbertype      models_pkg.Numbertype16Enum //Number type either SMS,Voice or all
    Areacode        string          //Specifies the area code for the returned list of available numbers. Only available for North American numbers.
    Pagesize        *int64          //The count of objects to return.
}

/*
 * Client structure as interface implementation
 */
type PHONENUMBER_IMPL struct {
     config configuration_pkg.CONFIGURATION
}

/**
 * Get DID Score Number
 * @param    string        phonenumber     parameter: Required
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneGetdidscore (
            phonenumber string) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/getdidscore.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "Phonenumber" : phonenumber,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Purchase a selected number of DID's from specific area codes to be used with your Ytel account.
 * @param  CreateIncomingphoneBulkbuyInput     Structure with all inputs
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneBulkbuy (input *CreateIncomingphoneBulkbuyInput) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/bulkbuy.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "NumberType" : models_pkg.Numbertype16EnumToValue(input.NumberType),
        "AreaCode" : input.AreaCode,
        "Quantity" : input.Quantity,
        "Leftover" : input.Leftover,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Retrieve a list of purchased phones numbers associated with your Ytel account.
 * @param  CreateIncomingphoneListnumberInput     Structure with all inputs
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneListnumber (input *CreateIncomingphoneListnumberInput) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/listnumber.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "Page" : apihelper_pkg.ToString(*input.Page, "1"),
        "PageSize" : apihelper_pkg.ToString(*input.PageSize, "10"),
        "NumberType" : models_pkg.Numbertype16EnumToValue(input.NumberType),
        "FriendlyName" : input.FriendlyName,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Purchase a phone number to be used with your Ytel account
 * @param    string        phoneNumber     parameter: Required
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneBuynumber (
            phoneNumber string) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/buynumber.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "PhoneNumber" : phoneNumber,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Remove a purchased Ytel number from your account.
 * @param  CreateIncomingphoneReleasenumberByResponseTypePostInput     Structure with all inputs
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneReleasenumberByResponseTypePost (input *CreateIncomingphoneReleasenumberByResponseTypePostInput) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/releasenumber.{ResponseType}"

    //variable to hold errors
    var err error = nil
    //process optional query parameters
    _queryBuilder, err = apihelper_pkg.AppendUrlWithTemplateParameters(_queryBuilder, map[string]interface{} {
        "ResponseType" : input.ResponseType,
    })
    if err != nil {
        //error in template param handling
        return "", err
    }

    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "PhoneNumber" : input.PhoneNumber,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Retrieve the details for a phone number by its number.
 * @param    string        phoneNumber     parameter: Required
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneViewnumber (
            phoneNumber string) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/viewnumber.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "PhoneNumber" : phoneNumber,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Transfer phone number that has been purchased for from one account to another account.
 * @param  CreateIncomingphoneTransferphonenumbersInput     Structure with all inputs
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneTransferphonenumbers (input *CreateIncomingphoneTransferphonenumbersInput) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/transferphonenumbers.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "phonenumber" : input.Phonenumber,
        "fromaccountsid" : input.Fromaccountsid,
        "toaccountsid" : input.Toaccountsid,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Remove a purchased Ytel number from your account.
 * @param    string        phoneNumber     parameter: Required
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneMassreleasenumber (
            phoneNumber string) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/massreleasenumber.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "PhoneNumber" : phoneNumber,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Update properties for a Ytel numbers that has been purchased for your account. Refer to the parameters list for the list of properties that can be updated.
 * @param  CreateIncomingphoneMassupdatenumberInput     Structure with all inputs
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneMassupdatenumber (input *CreateIncomingphoneMassupdatenumberInput) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/massupdatenumber.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "PhoneNumber" : input.PhoneNumber,
        "VoiceUrl" : input.VoiceUrl,
        "FriendlyName" : input.FriendlyName,
        "VoiceMethod" : input.VoiceMethod,
        "VoiceFallbackUrl" : input.VoiceFallbackUrl,
        "VoiceFallbackMethod" : input.VoiceFallbackMethod,
        "HangupCallback" : input.HangupCallback,
        "HangupCallbackMethod" : input.HangupCallbackMethod,
        "HeartbeatUrl" : input.HeartbeatUrl,
        "HeartbeatMethod" : input.HeartbeatMethod,
        "SmsUrl" : input.SmsUrl,
        "SmsMethod" : input.SmsMethod,
        "SmsFallbackUrl" : input.SmsFallbackUrl,
        "SmsFallbackMethod" : input.SmsFallbackMethod,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Update properties for a Ytel number that has been purchased for your account. Refer to the parameters list for the list of properties that can be updated.
 * @param  CreateIncomingphoneUpdatenumberInput     Structure with all inputs
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneUpdatenumber (input *CreateIncomingphoneUpdatenumberInput) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/updatenumber.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "PhoneNumber" : input.PhoneNumber,
        "VoiceUrl" : input.VoiceUrl,
        "FriendlyName" : input.FriendlyName,
        "VoiceMethod" : input.VoiceMethod,
        "VoiceFallbackUrl" : input.VoiceFallbackUrl,
        "VoiceFallbackMethod" : input.VoiceFallbackMethod,
        "HangupCallback" : input.HangupCallback,
        "HangupCallbackMethod" : input.HangupCallbackMethod,
        "HeartbeatUrl" : input.HeartbeatUrl,
        "HeartbeatMethod" : input.HeartbeatMethod,
        "SmsUrl" : input.SmsUrl,
        "SmsMethod" : input.SmsMethod,
        "SmsFallbackUrl" : input.SmsFallbackUrl,
        "SmsFallbackMethod" : input.SmsFallbackMethod,

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

/**
 * Retrieve a list of available phone numbers that can be purchased and used for your Ytel account.
 * @param  CreateIncomingphoneAvailablenumberInput     Structure with all inputs
 * @return	Returns the string response from the API call
 */
func (me *PHONENUMBER_IMPL) CreateIncomingphoneAvailablenumber (input *CreateIncomingphoneAvailablenumberInput) (string, error) {
        //the base uri for api requests
    _queryBuilder := configuration_pkg.BASEURI;

    //prepare query string for API call
   _queryBuilder = _queryBuilder + "/incomingphone/availablenumber.json"

    //variable to hold errors
    var err error = nil
    //validate and preprocess url
    _queryBuilder, err = apihelper_pkg.CleanUrl(_queryBuilder)
    if err != nil {
        //error in url validation or cleaning
        return "", err
    }

    //prepare headers for the outgoing request
    headers := map[string]interface{} {
        "user-agent" : "APIMATIC 2.0",
    }

    //form parameters
    parameters := map[string]interface{} {

        "numbertype" : models_pkg.Numbertype16EnumToValue(input.Numbertype),
        "areacode" : input.Areacode,
        "pagesize" : apihelper_pkg.ToString(*input.Pagesize, "10"),

    }


    //prepare API request
    _request := unirest.PostWithAuth(_queryBuilder, headers, parameters, me.config.BasicAuthUserName(), me.config.BasicAuthPassword())
    //and invoke the API call request to fetch the response
    _response, err := unirest.AsString(_request);
    if err != nil {
        //error in API invocation
        return "", err
    }

    //error handling using HTTP status codes
    if (_response.Code < 200) || (_response.Code > 206) { //[200,206] = HTTP OK
        err = apihelper_pkg.NewAPIError("HTTP Response Not OK" , _response.Code, _response.RawBody)
    }
    if(err != nil) {
        //error detected in status code validation
        return "", err
    }

    //returning the response
    return _response.Body, nil

}

